@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Heebo:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Heebo:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 65px 80px;
    ul{
        display: flex;
        list-style-type: none;
        gap: 40px;
        li a{
            font-family: "Afacad Flux", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.76px;
            color: #fff;
        }
    }
    .acount{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        gap: 8px;
        font-family: "Afacad Flux", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.76px;
        color: #fff;
    }
}
main{
    display: flex;
    justify-content: space-between;

    .vertical{
        width: 200px;
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        padding-left: 80px;
        color: #fff;
        i{
            cursor: pointer;
            padding-top: 10px;
            padding-left: 10px;
        }
        p{
            cursor: pointer;
        }
    }
    img{
        width: 150px;
        cursor: pointer;
    }
    .main_title{
        width: 600px;
        padding-top: 50px;
    }
    .main_title2{
        font-family: "Playfair Display", serif;
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .before{
        display: flex;
        .title_h2{
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 800;
            line-height: 22.05px;
            letter-spacing: 6px;
            color: #FBD784;
        }
        span{
            display: grid;
            grid-template-columns: repeat(1, 50px);
            align-items: center;
            margin-right: 30px;
        }
        span::before{
            content: "";
            height: 2px;
            background-color: #FBD784;
            display: block;
        }
    }
}
.second{
    background-color: #0B1D26;
    margin-top: 380px;
    box-shadow: 50px 50px 50px 120px #0B1D26;
    display: flex;
    justify-content: center;
    .position{
        position: relative;
        z-index: 1;
        bottom: 430px;
        right: 90px;
        font-family: "Afacad Flux", sans-serif;
        font-size: 150px;
        font-weight: 700;
        line-height: 100px;
        color: #fff;        
    }
    .position2{
        position: relative;
        bottom: 300px;
        right: 50px;
        z-index: 100;
        font-family: "Afacad Flux", sans-serif;
        font-size: 150px;
        font-weight: 700;
        line-height: 100px;
        color: #fff; 
    }
    .card{
        display: flex;
        justify-content: space-between;
        gap: 80px;
        align-items: center;
        img{
            width: 366px;
        }
        .main_title{
            width: 400px;
            
        }
        .main_title2{
            z-index: 31;
            font-family: "Playfair Display", serif;
            font-size: 28px;
            font-weight: 600;
            line-height: 50px;
            color: #fff;
        }
        .before{
            display: flex;
            .title_h2{
                font-family: "Roboto", sans-serif;
                font-family: Gilroy;
                font-size: 18px;
                font-weight: 800;
                line-height: 10.05px;
                letter-spacing: 6px;
                color: #FBD784;
            }
            span{
                display: grid;
                grid-template-columns: repeat(1, 50px);
                align-items: center;
                margin-right: 30px;
            }
            span::before{
                content: "";
                height: 2px;
                background-color: #FBD784;
                display: block;
            }
        }
    }
}

footer{
    margin-top: 40px;
    padding: 65px 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0B1D26;
    .footer_div{
        color: #fff;
        p{
            margin-top: 30px;
        }
        .p{
            margin-top: 170px;
            font-family: "Afacad Flux", sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            opacity: 50%;
        }
    }
    .wrap_footer_div2{
        display: flex;
        gap: 150px;
        color: #fff;
    }
    .first_child{
        font-family: "Afacad Flux", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: #FBD784;
    }
    ul li{
        line-height: 50px;
    }
}